#navbar
{
    border-radius: 0px;
    background-color: #212F3C;
    /*background-color: #290C09;*/
    font-family: 'Questrial';
    font-size: 16px;
}
body
{
    overflow-x: hidden;
}
#brandImage
{
    width: 100px; 
    margin-top: -40px;
}


.navbar a
{
    color: #C28E0E !important;
}

.navbar a:hover
{
    color: #98700D !important;
}

.navbar-brand
{
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
}

#navEvents
{
    transform: translateX(-50%);
    left: 40%;
    position: absolute;
}

#navAbout
{
    transform: translateX(-50%);
    left: 30%;
    position: absolute;
}

#navLeadership
{
    transform: translateX(-50%);
    left: 60%;
    position: absolute;
}

#navContact
{
    transform: translateX(-50%);
    left: 70%;
    position: absolute;
}


.slideshow {
  position: relative;
  overflow: hidden;
    height: 730px;
    max-width: 1920px;
}
.images {
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url("../css/pjimage.jpg");
  background-size: cover;
  background-repeat: repeat;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 300%;
  animation: slideshow 100s linear infinite;
    
  transform: translate3d(0, 0, 0);
}
@keyframes slideshow {
  0%    { left: 0; }
  100%  { left: -200%; }
}

@keyframes moveSlideshow {  
  100% { 
    -webkit-transform: translateX(-200%);  
  }
}

#titleDiv
{
    text-align: center;
    top: 25%;
}
#title
{
    color: white;
     text-shadow: -1px 0 #C28E0E, 0 1px #C28E0E, 1px 0 #C28E0E, 0 -1px #C28E0E;
    font-family: 'Questrial';
    font-size: 64px;
}

#mottoDiv
{
    text-align: center;
    top: 30%;
}

#motto
{
    color: white;
     text-shadow: -1px 0 #C28E0E, 0 1px #C28E0E, 1px 0 #C28E0E, 0 -1px #C28E0E;
    font-family: 'Questrial';
    font-size: 24px;
}